{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Your Tasks</h2>

<div class="card p-4 shadow">

<form action="/add" method="POST" class="d-flex gap-2">

<input type="text" name="title" class="form-control" placeholder="Enter task">

<button class="btn btn-primary">Add</button>

</form>

</div>

<ul class="list-group mt-4">

{% for task in tasks %}

<li class="list-group-item d-flex justify-content-between">

<div>

{% if task.completed %}

<s>{{ task.title }}</s>

{% else %}

{{ task.title }}

{% endif %}

</div>

<div>

<a href="/complete/{{task.id}}" class="btn btn-success btn-sm">Complete</a>

<a href="/edit/{{task.id}}" class="btn btn-warning btn-sm">Edit</a>

<a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">Delete</a>

</div>

</li>

{% endfor %}

</ul>

{% endblock %}